<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chats</title>
    <link rel="stylesheet" href="chatstyle.css">
</head>
<body>
    <br><br>
    <form method="get" action="/chats/new">
        <button> New Chat </button>
    </form>
    <h3> All of your chats appear here </h3>
       <% for(chat of chats) { %> 
        <div class="chat">
            <p> From : <%= chat.from %></p>
            <div class="mssg">
                <p> <%= chat.mssg %></p>
                <form method="get" action="/chats/<%= chat._id %>/edit">
                    <button> Edit </button>
                </form>
            </div>
            <p> Received by : <%= chat.to %></p>
            <hr>
            <p> <%= chat.created_at.toString().split(" ")[4] %> <br></p>
            <p> <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %> <br></p>
            <form method="POST" action="/chats/<%= chat.id %>?_method=DELETE">
                <button>Delete chat</button>
            </form>
        </div>
       <% } %> 
</body>
</html>

